/* Improved Dark Theme Styles */

/* Fonts */
body {
    font-family: Arial, sans-serif;
}

/* Background and Text Colors */
.dark-theme {
    color: #ffffff;
    background-color: #121212;
}

/* Tables */
.dark-theme table {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 1em;
}

/* Footer */
.dark-theme .footer {
    background-color: #121212;
    color: #ffffff;
}

/* Scrollbars */
.dark-theme ::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 4px;
}

.dark-theme ::-webkit-scrollbar-thumb:hover {
    background-color: #444;
}

.dark-theme ::-webkit-scrollbar {
    width: 6px;
    background: #292929;
}

/* Site Seal */
#siteseal {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

/* Selected Photo */
.dark-theme #selected-photo {
    border: 1px solid #ffffff;
    background-color: #121212;
}

/* Photo Canvas Details */
.dark-theme #photo-canvas-details {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme #photo-canvas-details select {
    background-color: #121212;
    color: #ffffff;
}

/* Cards */
.dark-theme .card {
    background-color: #1e1e1e;
}

/* Additional Styling for Specific Elements */
.dark-theme button {
    background-color: #444;
    color: #ffffff;
    border: none;
    padding: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
}

.dark-theme a {
    color: #8cb0ff;
    text-decoration: none;
}

/* Hover Effect for Links */
.dark-theme a:hover {
    text-decoration: underline;
}
