/* Improved Light Theme Styles */

/* Fonts */
body {
    font-family: Arial, sans-serif;
}

/* Background and Text Colors */
.light-theme {
    color: #333333;
    background-color: #F0F0F0;
}

/* Tables */
.light-theme table {
    background-color: #ECECEC;
    color: #333333;
    padding: 1em;
}

/* Footer */
.light-theme .footer {
    background-color: #F0F0F0;
    color: #333333;
}

/* Scrollbars */
.light-theme ::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 4px;
}

.light-theme ::-webkit-scrollbar-thumb:hover {
    background-color: black;
}

.light-theme ::-webkit-scrollbar {
    width: 6px;
    background: #F0F0F0;
}

/* Site Seal */
#siteseal {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

/* Selected Photo */
.light-theme #selected-photo {
    border: 1px solid #333333;
    background-color: #F0F0F0;
    color: #333333;
}

/* Photo Canvas Details */
.light-theme #photo-canvas-details {
    background-color: #F0F0F0;
    color: #333333;
}

.light-theme #photo-canvas-details select {
    background-color: #F0F0F0;
    color: #333333;
}

/* Cards */
.light-theme .card {
    background-color: #F5F7FA;
}

/* Additional Styling for Specific Elements */
.light-theme button {
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    padding: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
}

.light-theme a {
    color: #0072CE;
    text-decoration: none;
}

/* Hover Effect for Links */
.light-theme a:hover {
    text-decoration: underline;
}
